/* ////////////////////////////////For desktop: //////////////////////////////// */

@media only screen and (min-width: $desktop-min) {
  .container {
    @include myFlex();
    @include wrapFlex(wrap);
    margin: 0 auto;
    max-width: 1345px;
    width: 1345px;
  }
  .container > div {
    width: nth($sizes, 12);
    position: relative;
  }

  html,
  body,
  div,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  img,
  ol,
  ul,
  li,
  header {
    border: 0;
    padding: 0;
    font-size: nth($sizes, 12);
    font: inherit;
    vertical-align: baseline;
  }
  html {
    width: nth($sizes, 12);
    height: nth($sizes, 12);
    scroll-behavior: smooth;
  }
  body {
    height: nth($sizes, 12);
    margin: 0 auto;
    background-color: $c-white;
  }
  p,
  h1,
  h2,
  h3,
  span,
  a,
  li,
  button,
  input,
  textarea {
    font-family: $f-baseFontFamily;
    letter-spacing: 1px;
  }
  h1,
  h2,
  h3 {
    margin-bottom: 0;
    font-size: pxToRem(25);
  }
  h3 {
    color: $c-petite_orchid;
    margin: 0;
  }
  p {
    color: $c-tundora;
    font-size: pxToRem(15);
  }
  ul {
    list-style-type: none;
  }
  li {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  a,
  button,
  img {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  a:link,
  a:visited,
  a:active {
    color: $c-white;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: $c-totem_pole;
  }
  input,
  textarea {
    @include boxSize();
    width: 385px;
    border: 1px solid $c-white;
    background-color: $c-white;
    border-radius: 4px 4px;
    @include boxShadow(2px 3px 2px $c-submarine);
    resize: none;
    position: relative;
    z-index: 1;
  }
  input {
    height: 40px;
    padding-left: 15px;
  }
  input:focus,
  textarea:focus {
    outline: none;
    border-color: $c-danube;
    @include boxShadow(0 0 10px $c-danube);
  }
  textarea[type="text"] {
    font-size: pxToRem(13);
  }
  textarea::-webkit-input-placeholder {
    font-size: pxToRem(14);
  }
  textarea::-moz-placeholder {
    font-size: pxToRem(14);
  }
  textarea:-ms-input-placeholder {
    font-size: pxToRem(14);
  }
  textarea::-ms-input-placeholder {
    font-size: pxToRem(14);
  }
  textarea::placeholder {
    font-size: pxToRem(14);
  }
  textarea {
    padding: 15px;
  }

  @-webkit-keyframes progress_bar {
    0% {
      color: transparent;
      width: 70%;
    }
    50% {
      color: $c-white;
      width: nth($sizes, 12);
    }
    100% {
      color: transparent;
      width: 70%;
    }
  }

  @keyframes progress_bar {
    0% {
      color: transparent;
      width: 70%;
    }
    50% {
      color: $c-white;
      width: nth($sizes, 12);
    }
    100% {
      color: transparent;
      width: 70%;
    }
  }
}
/* //////////////////////////////// For tablets: //////////////////////////////// */

@media only screen and (min-width: $tablet-min) and (max-width: $break-laptop) {
  @include createCol();

  @import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

  html,
  body,
  div,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  img,
  ol,
  ul,
  li,
  footer,
  header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: pxToRem(16);
    font: inherit;
    vertical-align: baseline;
  }
  html {
    width: nth($sizes, 12);
    height: nth($sizes, 12);
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body {
    height: nth($sizes, 12);
    margin: 0 auto;
    background-color: $c-white;
    overflow-x: hidden;
  }
  p,
  h1,
  h2,
  h3,
  span,
  a,
  li,
  button,
  input,
  textarea {
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
  }
  h1,
  h2,
  h3 {
    font-size: 3vw;
    margin: 2% 5% 0;
    text-align: left;
  }
  h3 {
    color: $c-petite_orchid;
    margin: 0 5% 0;
  }
  p {
    color: $c-tundora;
    font-size: pxToRem(15);
    margin: 2% 5% 0;
    text-align: left;
  }
  span {
    color: $c-white;
  }
  a {
    font-size: pxToRem(17);
  }
  a,
  button,
  img {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  a:link,
  a:visited,
  a:active {
    color: $c-white;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: $c-totem_pole;
  }
  img {
    width: nth($sizes, 12);
    height: nth($sizes, 12);
  }
  input,
  textarea {
    @include boxSize();
    width: nth($sizes, 12);
    border: 1px solid $c-white;
    background-color: $c-white;
    border-radius: 4px 4px;
    @include boxShadow(2px 3px 2px $c-submarine);
    resize: none;
  }
  input {
    padding: 3%;
    font-size: pxToRem(18);
  }
  input:focus,
  textarea:focus {
    outline: none;
    border-color: $c-danube;
    @include boxShadow(0 0 10px $c-danube);
  }
  textarea[type="text"] {
    font-size: pxToRem(18);
  }
  textarea::-webkit-input-placeholder {
    font-size: pxToRem(18);
  }
  textarea::-moz-placeholder {
    font-size: pxToRem(18);
  }
  textarea:-ms-input-placeholder {
    font-size: pxToRem(18);
  }
  textarea::-ms-input-placeholder {
    font-size: pxToRem(18);
  }
  textarea::placeholder {
    font-size: pxToRem(18);
  }
  textarea {
    padding: 3%;
  }

  form {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
  .container {
    @include myFlex();
    @include createFlex(column, normal, vertical);
  }

  [class*="circle_"] {
    display: none;
  }
  [class*="circle_"] img {
    display: none;
  }
}

/* ///////////////////////// For mobile phones: /////////////////////////////// */

@media only screen and (max-width: $break-mobile) {
  @include createCol();

  @import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

  html,
  body,
  div,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  img,
  ol,
  ul,
  li,
  footer,
  header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: nth($sizes, 12);
    font: inherit;
    vertical-align: baseline;
  }
  html {
    width: nth($sizes, 12);
    height: nth($sizes, 12);
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body {
    height: nth($sizes, 12);
    margin: 0 auto;
    background-color: $c-white;
    overflow-x: hidden;
  }
  p,
  h1,
  h2,
  h3,
  span,
  a,
  li,
  button,
  input,
  textarea {
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
  }
  h1,
  h2,
  h3 {
    font-size: 6vw;
    margin: 0 auto;
    text-align: center;
  }
  h3 {
    color: $c-petite_orchid;
  }
  p {
    color: $c-tundora;
    font-size: 4vw;
    margin: 2% auto;
    text-align: center;
  }
  span {
    color: $c-white;
  }
  img {
    width: nth($sizes, 12);
    height: auto;
  }
  a {
    font-size: 6vw;
  }
  a,
  button,
  img {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  a:link,
  a:visited,
  a:active {
    color: $c-white;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: $c-totem_pole;
  }
  form {
    width: 90%;
    margin: 0 auto;
  }
  input,
  textarea {
    @include boxSize();
    width: nth($sizes, 12);
    border: 1px solid $c-white;
    background-color: $c-white;
    border-radius: 4px 4px;
    @include boxShadow(2px 3px 2px $c-submarine);
    resize: none;
  }
  input {
    padding: 3%;
    font-size: 4vw;
  }
  input:focus,
  textarea:focus {
    outline: none;
    border-color: $c-danube;
    @include boxShadow(0 0 10px $c-danube);
  }
  textarea[type="text"] {
    font-size: 4vw;
  }
  textarea::-webkit-input-placeholder {
    font-size: 4vw;
  }
  textarea::-moz-placeholder {
    font-size: 4vw;
  }
  textarea:-ms-input-placeholder {
    font-size: 4vw;
  }
  textarea::-ms-input-placeholder {
    font-size: 4vw;
  }
  textarea::placeholder {
    font-size: 4vw;
  }
  textarea {
    padding: 3%;
  }

  img {
    width: nth($sizes, 12);
    height: nth($sizes, 12);
  }
  .container {
    @include myFlex();
    @include createFlex(column, normal, vertical);
  }
  .container > div {
    @include myFlex();
    @include createFlex(column, normal, vertical);
    margin: 0 auto;
  }

  [class*="circle_"] {
    display: none;
  }
  [class*="circle_"] img {
    display: none;
  }
}
