/* converting px to rem, with default 1 rem - 16px */

@function pxToRem($pxsize, $rembase: 16) {
	@return ($pxsize / $rembase) + rem;
}

@mixin boxShadow($arg) {
  -webkit-box-shadow: $arg;
  box-shadow: $arg;	
}

@mixin dropShadow($arg) {
  -webkit-filter: drop-shadow($arg);
  filter: drop-shadow($arg);
}
@mixin boxSize() {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transformScale($arg, $rotate:false) {
  -webkit-transform: scale($arg);
      -ms-transform: scale($arg);
          transform: scale($arg);
    @if $rotate {
  -webkit-transform: scale($arg) rotate($rotate);
      -ms-transform: scale($arg) rotate($rotate);
          transform: scale($arg) rotate($rotate);
    }
}

@mixin wrapFlex($arg) {
  -ms-flex-wrap: ($arg);
  flex-wrap: ($arg);
}

@mixin myFlex() {
	$prefixes: (-webkit-box, -ms-flexbox, -webkit-flex, flex);
	@each $prefix in $prefixes {
		display: $prefix;
	}
}

@mixin positionFlex($justify:false, $align:false) {
	 -webkit-box-pack: $justify;
    -ms-flex-pack: $justify;
     justify-content: $justify;
	 -webkit-box-align: $align;
     -ms-flex-align: $align;
     align-items: $align;
  	@if $justify == space-between {
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     }
     @else if $justify == space-around { 
     	-ms-flex-pack: distribute;
	    justify-content: space-around;
     }
}

@mixin createFlex($flexDirection:false, $boxD:false, $boxO:false, $flexWrap:false) {
	@if $flexDirection {
	-webkit-box-orient: $boxO;
  	-webkit-box-direction: $boxD;
    -ms-flex-direction: $flexDirection;
    flex-direction: $flexDirection;
    -ms-flex-wrap: $flexWrap;
    flex-wrap: $flexWrap;
  }
}

@mixin createCol() {
	@each $size in $sizes {
		$index: index($sizes, $size);
		.col-#{$index} {
			width: $size;
		}
	}
}

@each $name, $background-image in $elements {
	.tools_#{$name} {
		background-image: $background-image;
	}
}

@each $name, $border-width, $border-style, $border-color in $elements_hover {
	.tools_#{$name}:hover {
		border-width: $border-width;
		border-style: $border-style;
		border-color: $border-color;
	}
}