/* =colors
****************************************************** */
$c-black: #000;
$c-white: #fff;
$c-white-opacity: rgba(255, 255, 255, 0.8);
$c-turbo: #fae600;
$c-lightning_yellow: #fbba2e;
$c-pizazz: #fb8c00;
$c-red: #ff0000;
$c-crimson: #d81010;
$c-totem_pole: #952000;
$c-tundora: #4b4b4b;
$c-gray: #808080;
$c-submarine: #bfc9ca;
$c-iron: #d5dbdb;
$c-tower_gray: #b0bec5;
$c-twilight: #f1feff;
$c-green: #00ff00;
$c-sushi: #8cc84b;
$c-blue: #0000ff;
$c-danube: #719ece;
$c-fuchsia_blue: #8a64c5;
$c-denim: #1c78c0;
$c-shakespeare: #52a8d6;
$c-malibu: #7fe0fc;
$c-seance: #7b1fa2;
$c-heliotrope: #e238ec;
$c-petite_orchid: #da9b85;
$c-almond: #f2dccb;
$c-pancho: #ecc5a7;
$c-muddy_waters-opacity: rgba(185, 135, 109, 0.7);
$c-english_walnut: #3e2723;

/* =fonts
****************************************************** */

$f-baseFontFamily: "Raleway", sans-serif;

/* =breaks
****************************************************** */

$break-mobile: 767px;
$break-mid: 991px;
$break-laptop: 1099px;

/* =minimum device sizes
****************************************************** */

$tablet-min: 768px;
$desktop-min: 1100px;

/* =paddings, margins
****************************************************** */

$space-xx-small: 2%;
$space-x-small: 3%;
$space-small: 4%;
$space-small-x: 5%;
$space-xx-standard: 5px;
$space-x-standard: 15px;
$space-standard: 20px;
$space-medium: 35px;
$space-large: 40px;
$space-x-large: 160px;

/* =lists
****************************************************** */

$sizes: 8.33%, 16.66%, 25%, 33.33%, 41.66%, 50%, 58.33%, 66.66%, 75%, 83.33%,
	91.66%, 100%;

/* =elements
****************************************************** */

$elements: "icon_1" url(../../src/assets/_react_icon_s.png),
	"icon_2" url(../../src/assets/webpack_icon.png),
	"icon_3" url(../../src/assets/express_icon.png),
	"icon_4" url(../../src/assets/styled_components_icon.png),
	"icon_5" url(../../src/assets/redux_icon_s.png),
	"icon_6" url(../../src/assets/flexbox_icon_s.png),
	"icon_7" url(../../src/assets/tool_program_ikonaa.png),
	"icon_8" url(../../src/assets/tool_program_ikonaa.png);

$elements_hover: "icon_1" 2px solid $c-malibu, "icon_2" 2px solid $c-denim,
	"icon_3" 2px solid $c-sushi, "icon_4" 2px solid $c-lightning_yellow,
	"icon_5" 2px solid $c-fuchsia_blue, "icon_6" 2px solid $c-shakespeare,
	"icon_7" 2px solid $c-pancho, "icon_8" 2px solid $c-crimson;
