/* ////////////////////////////////For desktop: //////////////////////////////// */

@media only screen and (min-width: $desktop-min) {
  .main_article_wrapper-skills {
    @include myFlex();
    @include createFlex(column, normal, vertical, wrap);
    height: 500px;
  }
  .wrapper_about_me {
    height: nth($sizes, 12);
    width: nth($sizes, 6);
  }
  .wrapper_about_me {
    @include myFlex();
    @include createFlex(column, normal, vertical, wrap);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    position: relative;
    left: 160px;
    text-align: justify;
    letter-spacing: 0px;

    &_text p {
      height: -webkit-min-content;
      height: -moz-min-content;
      height: min-content;
      letter-spacing: 0;
      word-spacing: 2px;
      width: 430px;
    }
  }
  .wrapper_about_me h2 {
    margin-bottom: 0;
  }
  .my_list li:before {
    content: "•";
    margin: 0 10px 0 0;
  }
  ul.my_list {
    color: $c-tundora;
    padding-left: 0;
  }
  .wrapper_button {
    @include myFlex();
    @include wrapFlex(wrap);
    margin-left: 100px;
  }
  p.code_text {
    font-weight: bolder;
    display: inline;
    letter-spacing: 0;
  }
  .code_button {
    height: 70px;
    width: 140px;
    margin: -10px 0;

    img {
      max-height: 70px;
      max-width: 140px;
    }
    img:hover {
      @include transformScale(2.5, 720deg);
      -webkit-transition: 1.5s ease-in;
      -o-transition: 1.5s ease-in;
      transition: 1.5s ease-in;
      -webkit-filter: invert(1);
      filter: invert(1);
    }
  }
  .wrapper_skills {
    position: relative;
    height: nth($sizes, 12);
    width: nth($sizes, 6);

    &_text_and_table {
      @include myFlex();
      @include createFlex(column, normal, vertical, wrap);
      @include boxShadow(3px 3px 3px $c-submarine);
      border-radius: 2%;
      background-color: transparent;
      position: relative;
      width: 470px;
      height: 425px;
      padding-left: 50px;
      left: 20px;
      z-index: 0;
    }
    &_table {
      padding-left: 0;
      margin: 0;
      @include myFlex();
      @include createFlex(column, normal, vertical, wrap);
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
  }
  .wrapper_skills_text_and_table h2 {
    margin-bottom: 0;
  }
  .wrapper_skills_table ul {
    padding-left: 0;
  }
  [class*="graph-"] {
    position: relative;
    display: block;
    @include boxSize();
    top: 10px;
    right: 25px;
    width: nth($sizes, 12);
    background-image: url(../../../../../src/assets/_elementy_gradient_menu.png),
      url(../../../../../src/assets/_elementy_gradient_menu_2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    padding: $space-standard 0;
    text-align: center;
    font-weight: bold;
    line-height: 3px;
    -webkit-animation: progress_bar 5s ease infinite;
    animation: progress_bar 5s ease infinite;
    @include dropShadow(1px 1px 1px $c-twilight);
  }
  .graph-1,
  .graph-2,
  .graph-3,
  .graph-5 {
    position: relative;
    background-size: cover;
  }
  .graph-4,
  .graph-6 {
    position: relative;
  }
  .graph-1 {
    background-size: nth($sizes, 12) 160%, nth($sizes, 12) 160%;
  }
  .graph-1 span {
    position: absolute;
    top: 33%;
    left: 70%;
  }
  .graph-2 span {
    position: absolute;
    top: 33%;
    left: 67%;
  }
  .graph-3 span {
    position: absolute;
    top: 33%;
    left: 61%;
  }
  .graph-4 span {
    position: absolute;
    top: 33%;
    left: 30%;
  }
  .graph-5 span {
    position: absolute;
    top: 33%;
    left: 65%;
  }
  .graph-6 span {
    position: absolute;
    top: 33%;
    left: 40%;
  }
  .graph-2,
  .graph-3,
  .graph-5 {
    background-size: 90% 160%, nth($sizes, 12) 160%;
    right: 23px;
  }
  .graph-4,
  .graph-6 {
    background-size: cover;
    background-size: 60% 160%, nth($sizes, 12) 160%;
    text-indent: -5%;
    padding: $space-standard 0;
    right: 21px;
  }
}

/* //////////////////////////////// For tablets: //////////////////////////////// */

@media only screen and (min-width: $tablet-min) and (max-width: $break-laptop) {
  .main_article_wrapper-skills {
    @include myFlex();
    @include createFlex(row, normal, horizontal);
    width: nth($sizes, 12);
  }
  .wrapper_about_me {
    width: nth($sizes, 6);
  }
  .wrapper_about_me_text {
    margin: 0 0 $space-x-small 0;
  }
  ul.my_list {
    color: $c-tundora;
    padding-left: 9%;
    font-size: 2vw;
  }
  .wrapper_button {
    display: inline;
    position: relative;
    top: 10%;
  }
  .code_button {
    width: 35%;
    float: inline-end;
  }
  .code_button img {
    width: 100%;
    height: 100%;
  }
  .wrapper_skills {
    width: 55%;
  }
  .wrapper_skills_text_and_table {
    @include myFlex();
    @include createFlex(column, normal, vertical, wrap);
    @include boxShadow(3px 3px 3px $c-submarine);
    border-radius: 2%;
    background-color: transparent;
    position: relative;
    width: nth($sizes, 12);
    height: 95%;
    z-index: 0;
  }
  [class*="graph-"] {
    position: relative;
    display: block;
    @include boxSize();
    top: 10px;
    width: nth($sizes, 12);
    background-image: url(../../../../../src/assets/_elementy_gradient_menu.png),
      url(../../../../../src/assets/_elementy_gradient_menu_2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    padding: $space-small-x 0;
    text-align: center;
    font-weight: bold;
    line-height: 3px;
  }
  .graph-1 {
    text-indent: 55%;
    background-size: nth($sizes, 12) 160%, nth($sizes, 12) 160%;
    @include dropShadow(1px 1px 1px $c-twilight);
  }
  .graph-2,
  .graph-3,
  .graph-5 {
    text-indent: 35%;
    background-size: 90% 160%, nth($sizes, 12) 160%;
    @include dropShadow(1px 1px 1px $c-twilight);
  }
  .graph-2 {
    text-indent: 44%;
  }
  .graph-4,
  .graph-6 {
    background-size: cover;
    background-size: 60% 160%, nth($sizes, 12) 160%;
    text-indent: -12%;
    padding: $space-small-x 0;
    @include dropShadow(1px 1px 1px $c-twilight);
    left: 1%;
  }
  .graph-4 {
    text-indent: -25%;
  }
}

/* ///////////////////////// For mobile phones: /////////////////////////////// */

@media only screen and (max-width: $break-mobile) {
  ul.my_list {
    color: $c-tundora;
    padding-left: $space-x-small;
    font-size: 4vw;
  }
  .wrapper_about_me {
    margin: $space-xx-small auto;
  }
  .wrapper_button p {
    text-align: center;
    margin: 8% auto 0 auto;
  }
  .wrapper_button img {
    height: 50%;
    width: 50%;
    margin: 0 auto;
    display: block;
  }
  [class*="graph-"] {
    position: relative;
    display: block;
    @include boxSize();
    top: 10px;
    width: nth($sizes, 12);
    background-image: url(../../../../../src/assets/_elementy_gradient_menu.png),
      url(../../../../../src/assets/_elementy_gradient_menu_2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    padding: $space-small-x 0;
    text-align: center;
    font-weight: bold;
    line-height: 3px;
  }
  .graph-1 {
    text-indent: 55%;
    background-size: nth($sizes, 12) 160%, nth($sizes, 12) 160%;
    @include dropShadow(1px 1px 1px $c-twilight);
  }
  .graph-2,
  .graph-3,
  .graph-5 {
    text-indent: 35%;
    background-size: 90% 160%, nth($sizes, 12) 160%;
    @include dropShadow(1px 1px 1px $c-twilight);
  }
  .graph-2 {
    text-indent: 44%;
  }
  .graph-4,
  .graph-6 {
    background-size: cover;
    background-size: 60% 160%, nth($sizes, 12) 160%;
    text-indent: -12%;
    padding: $space-small-x 0;
    @include dropShadow(1px 1px 1px $c-twilight);
  }
  .graph-4 {
    text-indent: -25%;
  }
}
