/* ////////////////////////////////For desktop: //////////////////////////////// */

@media only screen and (min-width: $desktop-min) {
  .blog {
    @include myFlex();
    @include createFlex(column, normal, vertical);
    margin: 0 auto 55px;
    &_picture {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      margin: 20px 0 0 160px;
    }
  }
  .blog > h2,
  .blog > h3 {
    margin: 0 0 0 $space-x-large;
  }
  .blog > .blog_picture > img {
    width: 310px;
    height: 150px;
    max-width: 310px;
    max-height: 150px;
    border-radius: 2%;
    @include boxShadow(3px 3px 3px $c-submarine);
  }
  .wrapper_articles,
  .wrapper_articles_2 {
    position: absolute;
    left: 500px;
    width: 652px;
  }
  .wrapper_articles p,
  .wrapper_articles_2 p {
    margin: 0;
  }
  .wrapper_articles {
    top: 55px;
  }
  .wrapper_articles_2 {
    top: 230px;
  }
  .wrapper_articles a,
  .wrapper_articles a:link,
  .wrapper_articles a:active {
    color: $c-petite_orchid;
    display: table;
    text-align: center;
    margin: 0 auto;
  }
  .wrapper_articles_2 a,
  .wrapper_articles_2 a:link,
  .wrapper_articles_2 a:active {
    color: $c-petite_orchid;
    display: table;
    text-align: center;
    margin: 0 auto;
  }
  .wrapper_articles a:hover,
  .wrapper_articles_2 a:hover {
    @include transformScale(1.1);
    @include dropShadow(1px 1px 1px $c-muddy_waters-opacity);
  }
  .wrapper_articles a:after,
  .wrapper_articles_2 a:after {
    content: ">";
    font-size: 25px;
    padding-left: $space-xx-standard;
  }
  .wrapper_articles span,
  .wrapper_articles_2 span {
    color: $c-petite_orchid;
    font-size: 15px;
    float: right;
    font-weight: normal;
  }
}

/* //////////////////////////////// For tablets: //////////////////////////////// */

@media only screen and (min-width: $tablet-min) and (max-width: $break-laptop) {
  .blog {
    margin: 0 auto $space-small;
  }
  .blog > h2:first-child {
    margin: $space-xx-small 0 0 -4%;
  }
  .blog > h3:nth-child(2) {
    margin: 0 0 0 -4%;
  }
  .blog > .blog_picture > img {
    border-radius: 2%;
    @include boxShadow(3px 3px 3px $c-submarine);
  }
  .blog_picture {
    margin: $space-xx-small 8% 0;
  }

  .wrapper-1 {
    margin: 0 inherit;
  }
  .wrapper-1 h2 {
    margin: 0 0 0 $space-x-small;
  }
  .wrapper-1 p {
    margin: 0 0 $space-xx-small $space-x-small;
  }

  .wrapper_articles a,
  .wrapper_articles a:link,
  .wrapper_articles a:active,
  .wrapper_articles_2 a,
  .wrapper_articles_2 a:link,
  .wrapper_articles_2 a:active {
    color: $c-petite_orchid;
    display: table;
    text-align: center;
    margin: 0 auto;
    font-size: 3vw;
  }
  .wrapper_articles span,
  .wrapper_articles_2 span {
    color: $c-petite_orchid;
    font-size: 2vw;
    float: right;
    font-weight: normal;
  }
  .wrapper_articles a:hover,
  .wrapper_articles_2 a:hover {
    @include transformScale(1.1);
    @include dropShadow(1px 1px 1px $c-muddy_waters-opacity);
  }
  .wrapper_articles a:after,
  .wrapper_articles_2 a:after {
    content: ">";
    font-size: 3vw;
  }
}

/* ///////////////////////// For mobile phones: /////////////////////////////// */

@media only screen and (max-width: $break-mobile) {
  .blog {
    margin: 0 auto $space-small;
  }
  .blog > .blog_picture > img {
    border-radius: 2%;
    @include boxShadow(3px 3px 3px $c-submarine);
  }
  .wrapper_articles {
    @include myFlex();
    @include createFlex(column, normal, vertical, wrap);
    margin: $space-xx-small auto $space-xx-small;
  }
  .wrapper_articles p {
    letter-spacing: 0;
  }
  .wrapper_articles a,
  .wrapper_articles a:link,
  .wrapper_articles a:active,
  .wrapper_articles_2 a,
  .wrapper_articles_2 a:link,
  .wrapper_articles_2 a:active {
    color: $c-petite_orchid;
    display: table;
    text-align: center;
    margin: 0 auto;
    font-size: 5vw;
  }
  .wrapper_articles a:hover,
  .wrapper_articles_2 a:hover {
    @include transformScale(1.1);
    @include dropShadow(1px 1px 1px $c-muddy_waters-opacity);
  }
  .wrapper_articles a:after,
  .wrapper_articles_2 a:after {
    content: ">";
    font-size: 5vw;
  }
  .wrapper_articles h2 {
    margin: 0;
  }
  .wrapper_articles span,
  .wrapper_articles_2 span {
    color: $c-petite_orchid;
    font-size: 4vw;
    float: right;
    font-weight: normal;
  }
}
