button {
  background-image: url(../../../../../src/assets/kontakt_ikona.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 37px;
  color: $c-white;
  cursor: pointer;
  border: none;
  opacity: 0.6;
  @include dropShadow(2px 2px 1px $c-submarine);
  margin: $space-standard;
  position: relative;
  z-index: 1;
}
button:hover {
  color: #952000;
  opacity: 1;
}

/* //////////////////////////////// For tablets: //////////////////////////////// */

@media only screen and (min-width: $tablet-min) and (max-width: $break-laptop) {
  button {
    padding: $space-xx-small 9%;
    margin: $space-xx-small auto;
    display: block;
    font-size: 3vw;
  }
}

/* ///////////////////////// For mobile phones: /////////////////////////////// */

@media only screen and (max-width: $break-mobile) {
  button {
    padding: $space-small-x 18%;
    margin: $space-xx-small auto;
    display: block;
    font-size: 4vw;
  }
}
