.circle_1 {
  position: absolute;
  width: 270px;
  height: 270px;
  left: -17px;
  top: -6px;
  z-index: 2;

  img {
    max-width: 270px;
    max-height: 270px;
  }
  img:hover {
    @include transformScale(0.7);
    @include dropShadow(5px 5px 5px $c-black);
  }
}
.circle_2 {
  position: absolute;
  width: 340px;
  height: 340px;
  left: 1005px;
  top: 200px;
  z-index: 0;
  margin: 0;

  img {
    max-width: 340px;
    max-height: 340px;
  }
  img:hover {
    @include transformScale(0.4);
    @include dropShadow(2px 2px 1px $c-red);
  }
}
.circle_3 {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 410px;
  top: 380px;
  z-index: 0;
  margin: 0;

  img {
    max-width: 280px;
    max-height: 280px;
  }
  img:hover {
    @include transformScale(0.8);
    @include dropShadow(2px 2px 1px $c-turbo);
  }
}
.circle_4 {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 100px;
  left: 275px;
  margin: 0;

  img {
    max-width: 400px;
    max-height: 400px;
  }
  img:hover {
    @include transformScale(0.9);
    @include dropShadow(2px 2px 1px $c-blue);
  }
}
.circle_5 {
  position: absolute;
  width: 390px;
  height: 390px;
  top: -219px;
  left: -256px;
  z-index: 0;
  margin: 0;

  img {
    max-width: 390px;
    max-height: 390px;
  }
  img:hover {
    @include transformScale(0.6);
    @include dropShadow(2px 2px 1px $c-seance);
  }
}
.circle_6 {
  position: absolute;
  width: 310px;
  height: 310px;
  top: 84px;
  left: 950px;
  z-index: 1;
  margin: 0;

  img {
    max-width: 310px;
    max-height: 310px;
  }
  img:hover {
    @include transformScale(0.5);
    @include dropShadow(2px 2px 1px $c-green);
  }
}
.circle_7 {
  position: absolute;
  width: 410px;
  height: 410px;
  top: 240px;
  left: 790px;
  z-index: -1;
  margin: 0;

  img {
    max-width: 410px;
    max-height: 410px;
  }
}
.circle_8 {
  position: absolute;
  width: 310px;
  height: 310px;
  z-index: -1;
  margin: 0;
  left: -67px;
  top: 151px;

  img {
    max-width: 310px;
    max-height: 310px;
  }
  img:hover {
    @include transformScale(0.9);
    @include dropShadow(2px 2px 1px $c-pizazz);
  }
}
.circle_9 {
  position: absolute;
  width: 260px;
  height: 260px;
  z-index: 0;
  left: 705px;
  top: -55px;

  img {
    max-width: 260px;
    max-height: 260px;
  }
  img:hover {
    @include transformScale(0.9);
    @include dropShadow(2px 2px 1px $c-tower_gray);
  }
}
.circle_10 {
  position: absolute;
  width: 290px;
  height: 290px;
  z-index: 0;
  left: 400px;
  top: 257px;
  overflow: hidden;

  img {
    max-width: 290px;
    max-height: 290px;
    margin: 0 0 -450px 0;
  }
  img:hover {
    @include transformScale(0.8);
    @include dropShadow(2px 2px 1px $c-heliotrope);
  }
}
