/* ////////////////////////////////For desktop: //////////////////////////////// */

@media only screen and (min-width: $desktop-min) {
  .contact_me {
    background-image: url(../../../../../src/assets/tlo_gradient.png);
    background-repeat: no-repeat;
    height: 550px;
    background-size: cover;
    @include myFlex();
    @include createFlex(column, normal, vertical, wrap);
  }
  .my_contact {
    @include myFlex();
    @include createFlex(row, normal, vertical, wrap);
    position: absolute;
    left: 657px;
    top: 120px;
    background-color: $c-white-opacity;
    border-radius: 3px 3px;
    @include boxShadow(2px 3px 2px $c-submarine);
    width: 230px;
    height: 50px;
    background-image: url(../../../../../src/assets/kontakt_ikona2.png);
    background-repeat: no-repeat;
    background-size: contain;
    @include positionFlex(flex-end);
    padding: $space-x-standard;
  }
  .my_contact p {
    margin-top: 7px;
  }
  .wrapper-1 {
    height: nth($sizes, 12);
    width: 40%;
    @include myFlex();
    @include createFlex(column, normal, vertical, wrap);
    position: relative;
    left: 140px;

    p {
      margin-top: 0;
      letter-spacing: 0;
    }
  }
  .wrapper-2 {
    height: nth($sizes, 12);
    width: 31%;
    @include myFlex();
    @include createFlex(column, normal, vertical, wrap);
    @include positionFlex(start, flex-end);

    img {
      width: 250px;
      height: 270px;
      max-width: 250px;
      max-height: 270px;
      border-radius: 2%;
      margin-top: 27px;
    }
    p {
      margin: 0;
      text-align: right;
    }
  }
}

/* //////////////////////////////// For tablets: //////////////////////////////// */

@media only screen and (min-width: $tablet-min) and (max-width: $break-laptop) {
  .main_article_wrapper.col-11 {
    width: 95%;
  }
  .contact_me {
    margin: 0 auto;
    background-color: $c-almond;
    border-radius: 1%;
  }
  .wrapper-2 {
    margin: $space-xx-small auto;
  }
  .wrapper-2 > div {
    margin: 0 auto;
  }
  .wrapper-2 > div > img {
    border-radius: 2%;
    width: nth($sizes, 6);
    margin: 0 auto;
    display: block;
  }
  .wrapper-2 p {
    text-align: center;
  }
  .my_contact {
    background-color: $c-white-opacity;
    border-radius: 3px 3px;
    @include boxShadow(2px 3px 2px $c-submarine);
    background-image: url(../../../../../src/assets/kontakt_ikona2.png);
    background-repeat: no-repeat;
    background-size: contain;
    @include positionFlex(end);
    display: block;
    margin: $space-xx-small auto;
    width: 30%;
    @include myFlex();
    padding: $space-xx-small;
  }
}

/* ///////////////////////// For mobile phones: /////////////////////////////// */

@media only screen and (max-width: $break-mobile) {
  .contact_me {
    margin: 0 auto;
    background-color: $c-almond;
    border-radius: 1%;
  }
  .wrapper-2 {
    margin: $space-small auto;
  }
  .wrapper-2 > div {
    margin: 0 auto;
  }
  .wrapper-2 > div > img {
    border-radius: 2%;
    width: nth($sizes, 12);
    margin: 0 auto;
  }
  .my_contact {
    background-color: $c-white-opacity;
    border-radius: 3px 3px;
    @include boxShadow(2px 3px 2px $c-submarine);
    background-image: url(../../../../../src/assets/kontakt_ikona2.png);
    background-repeat: no-repeat;
    background-size: contain;
    @include positionFlex(right);
    display: block;
    margin: $space-xx-small auto;
  }
}
