/* ////////////////////////////////For desktop: //////////////////////////////// */

@media only screen and (min-width: $desktop-min) {
  .main_header_wrapper {
    background-color: $c-iron;
    @include boxShadow(10px 3px 8px $c-submarine);
    width: nth($sizes, 12);
    height: 100px;
    margin-bottom: 10px;
  }
  #header_initials_img {
    position: absolute;
    top: 20px;
    left: 120px;
    width: auto;
    height: 60px;
  }
  .nav_list {
    @include boxSize();
    @include myFlex();
    @include wrapFlex(wrap);
    position: absolute;
    @include positionFlex(space-around);
    top: -22px;
    left: 500px;
    padding: $space-large;
    width: 60%;
    background-image: url(../../../../../src/assets/_elementy_gradient_menu.png);
    background-size: cover;
    background-repeat: no-repeat;

    li:hover {
      @include transformScale(1.2);
    }
    li::marker {
      content: "";
    }
  }
  .nav_list-img {
    display: contents;
  }
  .list-image img {
    width: 50px;
    height: 50px;
    margin: -30px -40px;
  }
  .list-image img:hover {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    @include transformScale(1.2);
    @include dropShadow(3px 3px 1px $c-totem_pole);
  }
  .link-space {
    vertical-align: -7px;
  }
  .stream {
    color: $c-white;
    @include transformScale(2.5);
    display: inline-block;
    position: relative;
    top: -12px;
    cursor: default;
  }
}
/* //////////////////////////////// For tablets: //////////////////////////////// */

@media only screen and (min-width: $tablet-min) and (max-width: $break-laptop) {
  .main_header_wrapper {
    background-color: $c-iron;
    width: nth($sizes, 12);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .col-6 {
    width: 13%;
    @include boxSize();
    padding: $space-x-small 0;
    margin: 0 auto;
  }
  .main_header_wrapper > div > div > img {
    width: nth($sizes, 12);
  }
  .main_header_wrapper_wrapper {
    @include myFlex();
    @include positionFlex(start);
    width: nth($sizes, 12);
  }
  .nav_list {
    @include boxSize();
    @include myFlex();
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-image: url(../../../../../src/assets/_elementy_gradient_menu.png);
    background-size: 106% 130%;
    background-repeat: no-repeat;
    @include positionFlex(space-around, center);
    padding: 0 $space-small;

    ul {
      list-style-type: none;
    }
    li:hover {
      @include transformScale(1.2);
    }
    li::marker {
      content: "";
    }

    &-img {
      @include myFlex();
      @include positionFlex(center);
      margin: $space-xx-small 0 0;
    }
  }
  .nav_list img {
    width: nth($sizes, 12);
  }
  .list-image img:hover {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    @include transformScale(1.2);
    @include dropShadow(3px 3px 1px $c-totem_pole);
  }
  .stream {
    color: $c-white;
    @include transformScale(2.5);
    cursor: default;
    margin: 0;
  }
  .col-8:first-of-type {
    width: 85%;
  }
}

/* ///////////////////////// For mobile phones: /////////////////////////////// */

@media only screen and (max-width: $break-mobile) {
  .main_header_wrapper {
    background-color: $c-iron;
    width: nth($sizes, 12);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .main_header_wrapper > div > div {
    @include myFlex();
    @include createFlex(row, normal, horizontal, wrap);
    @include positionFlex(center);
    margin: 0 auto;
  }
  .main_header_wrapper > div > img {
    width: calc(nth($sizes, 12) - nth($sizes, 6));
  }
  .nav_list {
    position: relative;
    @include boxSize();
    @include myFlex();
    @include createFlex(column, normal, vertical, wrap);
    margin: 0 auto;
    @include positionFlex(center, center);
    background-color: $c-pancho;
    border-radius: 2%;
    border-radius: 2%;
    margin: $space-small auto;

    ul {
      list-style-type: none;
    }
    li:hover {
      @include transformScale(1.2);
    }
    li::marker {
      content: "";
    }

    &-img {
      @include myFlex();
      @include positionFlex(center);
    }
  }
  .list-image img:hover {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    @include transformScale(1.2);
    @include dropShadow(3px 3px 1px $c-totem_pole);
  }
  .nav_list img {
    width: nth($sizes, 12);
  }
  .stream {
    color: $c-white;
    @include transformScale(2, 3);
    cursor: default;
    @include transformScale(2, 90deg);

    margin: 0 auto;
  }
  .picture_1 {
    margin: 1% auto;

    img {
      border-radius: 2%;
      @include boxShadow(10px 3px 3px $c-submarine);
    }
  }
}
