/* ////////////////////////////////For desktop: //////////////////////////////// */

@media only screen and (min-width: $desktop-min) {
  .main_article_wrapper {
    @include myFlex();
    @include createFlex(row, normal, horizontal, wrap);
    width: nth($sizes, 12);
    margin-top: $space-standard;
  }
  .about_me {
    height: 550px;
  }
  .main_article {
    @include myFlex();
    @include wrapFlex(wrap);
    height: nth($sizes, 12);
    width: nth($sizes, 12);
    background-color: $c-white;
    z-index: 1;

    &_article {
      background: $c-white-opacity;
      @include boxShadow(3px 3px 3px $c-submarine);
      border-radius: 5px 5px;
      position: relative;
      width: 635px;
      height: 200px;
      padding-left: $space-standard;
      left: 430px;
      top: 100px;
      z-index: 1;
    }
  }
  .picture_1 {
    width: 400px;
    height: 430px;
    position: absolute;
    left: 120px;
    top: 50px;
    z-index: 1;

    img {
      max-width: 400px;
      max-height: 430px;
      border-radius: 2%;
      @include boxShadow(3px 3px 3px $c-submarine);
    }
  }
  .subtitle_1 {
    text-align: right;
    margin: 30px 120px 0 10px;
  }
  .bitbucket_icon,
  .dev_icon {
    cursor: pointer;
    width: 55px;
    height: 55px;
    position: absolute;
    left: 545px;
    bottom: 0;

    img {
      max-width: 55px;
      max-height: 55px;
    }
    img:hover {
      @include dropShadow(3px 3px 1px $c-english_walnut);
      @include transformScale(1.2);
    }
  }
  .dev_icon {
    left: 590px;
  }

  .main_article_article_2 {
    position: absolute;
    width: 320px;
    height: 180px;
    left: 760px;
    top: 330px;
    z-index: 1;
  }
  .main_article_article_2 h2 {
    text-align: right;
  }

  .mail,
  .download {
    background-image: url(../../../../../src/assets/button_011.png);
    background-size: nth($sizes, 12) nth($sizes, 12);
    background-repeat: no-repeat;
    position: absolute;
    top: 105px;
    @include dropShadow(2px 2px 1px $c-submarine);
  }
  .mail:hover,
  .download:hover {
    @include transformScale(1.2);
  }
  .mail {
    padding: $space-x-standard $space-large $space-x-standard;
    left: 0;
  }
  .download {
    padding: $space-x-standard $space-standard $space-x-standard;
    left: 160px;
  }
}

/* //////////////////////////////// For tablets: //////////////////////////////// */

@media only screen and (min-width: $tablet-min) and (max-width: $break-laptop) {
  .main_article {
    @include myFlex();
    background: $c-white-opacity;
    @include boxShadow(10px 3px 3px $c-submarine);
    border-radius: 5px 5px;
  }
  .main_article p,
  .main_article h1 {
    text-align: center;
  }
  .main_article br {
    display: none;
  }
  .col-11 {
    width: 49.66%;
    margin: 1%;
  }
  .picture_1.col-11 img {
    height: auto;
    border-radius: 2%;
    @include boxShadow(2px 3px 2px $c-submarine);
  }
  .main_article_article_2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .main_article_article_2 p,
  .main_article_article_2 h2 {
    text-align: center;
  }
  .main_article_icons_wrapper {
    @include myFlex();
    @include createFlex(row, normal, horizontal);
    @include positionFlex(center);

    img {
      width: 100%;
      height: 100%;
    }
  }
  .mail,
  .download {
    background-image: url(../../../../../src/assets/button_011.png);
    background-size: nth($sizes, 12) nth($sizes, 12);
    background-repeat: no-repeat;
    @include dropShadow(2px 2px 1px $c-submarine);
    margin: 2% auto;
    padding: 5%;
    display: block;
    text-align: center;
  }
  .mail:hover,
  .download:hover {
    @include transformScale(1.2);
  }
  .subtitle_1 {
    margin: 10%;
  }
  .bitbucket_icon {
    @include myFlex();
    @include createFlex(row, normal, horizontal);
    @include positionFlex(normal);

    img {
      width: nth($sizes, 12);
      height: 100%;
    }
  }
}

/* ///////////////////////// For mobile phones: /////////////////////////////// */

@media only screen and (max-width: $break-mobile) {
  .main_article {
    margin: $space-xx-small 0;
  }
  .main_article_article {
    @include myFlex();
    @include createFlex(column, normal, vertical);
    @include positionFlex(normal, center);
    background: $c-white-opacity;
    @include boxShadow(3px 3px 3px $c-submarine);
    border-radius: 5px 5px;
    margin: 0 auto;
  }
  .main_article_icons_wrapper {
    @include myFlex();
    @include positionFlex(center);
  }
  .main_article_article > .bitbucket_icon,
  .dev_icon {
    @include myFlex();
    @include createFlex(row, normal, horizontal);
  }
  .main_article_article_2 a {
    @include positionFlex(center);
    @include myFlex();
    margin: 0 auto $space-small auto;
    padding: $space-xx-small;
  }
  .bitbucket_icon img:hover,
  .dev_icon img:hover {
    @include dropShadow(3px 3px 1px $c-english_walnut);
    @include transformScale(1.2);
  }
  .main_article_article_2 {
    margin: $space-small auto 6%;
  }
  .main_article_wrapper-skills {
    margin: $space-small auto;
  }
  .main_article_wrapper-skills p {
    text-align: justify;
  }
  .main_article_wrapper-skills h3:last-of-type {
    margin: 5% auto;
  }

  .mail,
  .download {
    background-image: url(../../../../../src/assets/button_011.png);
    background-size: nth($sizes, 12) nth($sizes, 12);
    background-repeat: no-repeat;
    @include dropShadow(2px 2px 1px $c-submarine);
  }
  .mail:hover,
  .download:hover {
    @include transformScale(1.2);
  }
}
