/* ////////////////////////////////For desktop: //////////////////////////////// */

@media only screen and (min-width: $desktop-min) {
  .portfolio {
    height: 700px;
    width: calc(nth($sizes, 12) - 20%);
    @include createFlex(column, normal, vertical);
  }
  .portfolio > h2,
  .portfolio > h3,
  .portfolio > p {
    margin: 0 0 0 $space-x-large;
  }
  .portfolio-img_wrapper {
    @include wrapFlex(wrap);
    @include myFlex();
    @include positionFlex(start);
    width: 80%;
    margin-left: 145px;
  }
  [class*="portfolio_"] {
    @include boxShadow(3px 3px 3px $c-submarine);
    border-radius: 2%;
    background-color: $c-white;
    width: 310px;
    height: 230px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    margin: $space-standard 15px;
    @include myFlex();
    @include createFlex(row, normal, horizontal, wrap);
    @include positionFlex(flex-end, flex-end);
  }
  [class*="portfolio_"]:hover {
    background-color: $c-muddy_waters-opacity;
    cursor: pointer;
  }
  [class*="portfolio_"] img {
    padding: $space-xx-standard;
    height: 30px;
    width: 30px;
  }
  .icons_1 {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;

    img:hover {
      cursor: pointer;
      -webkit-filter: contrast(0);
      filter: contrast(0);
    }
  }
}

/* //////////////////////////////// For tablets: //////////////////////////////// */

@media only screen and (min-width: $tablet-min) and (max-width: $break-laptop) {
  .portfolio > h2,
  .portfolio > h3 {
    margin: 0 0 0 $space-x-small;
  }
  .portfolio > p {
    margin: 0 0 0 7%;
  }
  [class*="portfolio_"] {
    @include boxShadow(3px 3px 3px $c-submarine);
    border-radius: 2%;
    background-color: $c-white;
    width: nth($sizes, 12);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    margin: 0 6% $space-small;
    @include myFlex();
    @include wrapFlex(wrap);
    @include positionFlex(end, end);
  }
  [class*="portfolio_"] img {
    padding: $space-xx-standard;
    height: 30px;
    width: 30px;
  }
  [class*="portfolio_"]:hover {
    background-color: $c-muddy_waters-opacity;
    cursor: pointer;
  }
  .icons_1 {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;

    img:hover {
      cursor: pointer;
      -webkit-filter: contrast(0);
      filter: contrast(0);
    }
  }
}

/* ///////////////////////// For mobile phones: /////////////////////////////// */

@media only screen and (max-width: $break-mobile) {
  .portfolio {
    margin: 0 auto 15%;
  }
  [class*="portfolio_"] {
    @include boxShadow(3px 3px 3px $c-submarine);
    border-radius: 2%;
    background-color: $c-white-opacity;
    width: nth($sizes, 12);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    margin: 0 auto $space-small;
    @include myFlex();
    @include wrapFlex(wrap);
    @include positionFlex(end, end);
  }
  [class*="portfolio_"] img {
    padding: $space-xx-standard;
    height: 30px;
    width: 30px;
  }
  [class*="portfolio_"]:hover {
    background-color: $c-muddy_waters-opacity;
    cursor: pointer;
  }
  .icons_1 {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;

    img:hover {
      cursor: pointer;
      -webkit-filter: contrast(0);
      filter: contrast(0);
    }
  }
}
