/* ////////////////////////////////For desktop: //////////////////////////////// */

@media only screen and (min-width: $desktop-min) {
  .tools {
    background-image: url(../../../../../src/assets/tlo_gradient.png);
    background-repeat: no-repeat;
    height: 235px;
    width: 10%;
    background-size: cover;
    @include createFlex(column, normal, vertical);
  }
  .main_article_tools h2 {
    margin-left: $space-x-large;
    margin-bottom: 0;
  }
  .main_article_tools h3 {
    margin-left: $space-x-large;
    margin-bottom: $space-standard;
  }
  .main_article_wrapper_tools {
    height: 100px;
    width: 55%;
    @include myFlex();
    @include wrapFlex(wrap);
    @include positionFlex(space-between);
    margin-left: $space-x-large;
  }
  [class*="tools_icon_"] {
    @include boxShadow(4px 3px 5px $c-gray);
    border-radius: 5%;
    background-color: $c-white;
    height: 80px;
    width: 80px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  [class*="tools_icon_"] p {
    font-size: 10px;
    color: $c-tundora;
    text-align: center;
    margin-top: $space-large;
  }
  .tools_icon_4 p {
    margin-top: $space-medium;
  }
  [class*="tools_icon_"]:hover {
    @include transformScale(1.2);
    @include boxSize();
  }
}

/* //////////////////////////////// For tablets: //////////////////////////////// */

@media only screen and (min-width: $tablet-min) and (max-width: $break-laptop) {
  .main_article_wrapper {
    @include myFlex();
    @include createFlex(column, normal, vertical);
    margin: 0 $space-xx-small 0;

    &_tools {
      @include myFlex();
      @include wrapFlex(wrap);
      @include positionFlex(space-between);
      margin: 0 auto $space-small;
      background-color: $c-almond;
      border-radius: 2%;
      width: 90%;
    }
  }
  .portfolio-img_wrapper {
    @include myFlex();
    @include createFlex(row, normal, horizontal, wrap);
    @include positionFlex(space-between);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 5% auto 0;
  }
  [class*="tools_icon_"] {
    @include boxShadow(4px 3px 5px $c-gray);
    border-radius: 5%;
    background-color: $c-white;
    height: 80px;
    width: 80px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    margin: $space-xx-small;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  [class*="tools_icon_"] p {
    font-size: 10px;
    color: c-tundora;
    text-align: center;
    margin-top: $space-large;
  }
  .tools_icon_4 p {
    margin-top: $space-medium;
  }
  [class*="tools_icon_"]:hover {
    @include transformScale(1.2);
  }
}

/* ///////////////////////// For mobile phones: /////////////////////////////// */

@media only screen and (max-width: $break-mobile) {
  .main_article_wrapper_tools {
    @include myFlex();
    @include wrapFlex(wrap);
    @include positionFlex(space-between);
    margin: 0 auto $space-small;
    background-color: $c-almond;
    border-radius: 2%;
  }
  [class*="tools_icon_"] {
    @include boxShadow(4px 3px 5px $c-gray);
    border-radius: 5%;
    background-color: $c-white;
    height: 80px;
    width: 80px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    margin: $space-xx-small;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  [class*="tools_icon_"] p {
    font-size: 10px;
    color: $c-tundora;
    text-align: center;
    margin-top: $space-large;
  }
  .tools_icon_4 p {
    margin-top: $space-medium;
  }
  [class*="tools_icon_"]:hover {
    @include transformScale(1.2);
  }
}
