/* ////////////////////////////////For desktop: //////////////////////////////// */

@media only screen and (min-width: 1100px) {

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, header  {
	border: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}
body { 
	height: 100%;
	margin: 0 auto;
	background-color: #ffffff;
}
p, h1, h2, h3, span, a, li, button, input, textarea {
  	font-family: 'Raleway', sans-serif;
  	letter-spacing: 1px;
}
h1, h2, h3 {
	margin-bottom: 0;
	font-size: 25px;
}
h3 {
	color: #da9b85;
	margin: 0;
}
p {
    color: #4b4b4b;
    font-size: 15px;
}
ul {list-style-type: none;}
li {height: min-content;}
a, button, img {transition: 1s;}

a:link, a:visited, a:active { 
	color:#ffff;
	background-color: transparent;
  	text-decoration: none;
}
a:hover { color: #952000;}
input, textarea {
	box-sizing: border-box;
	width: 385px;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	border-radius: 4px 4px;
	box-shadow: 2px 3px 2px #bfc9ca;
	resize: none;
	position: relative;
	z-index: 1;
}
input {
	height: 40px;
	padding-left: 15px;
}
input:focus, textarea:focus { 
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
textarea[type="text"] {font-size:13px;}
textarea::placeholder {font-size: 14px;}
textarea {padding: 15px;}
button {
	background-image: url(kontakt_ikona.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px 37px;
	color: #ffffff;
	cursor: pointer;
	border: none;
	opacity: 0.6;
	filter: drop-shadow(2px 2px 1px #bfc9ca);
	margin: 20px;
	position: relative;
	z-index: 1;
}
button:hover {
	color: #952000;
	opacity: 1;
}
@keyframes progress_bar {
  	0% {color:transparent; width: 70%;}
  	50% {color: white; width: 100%;}
  	100% {color:transparent; width: 70%;}
}
.container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 1345px;
	width: 1345px;
}
.container > div {
	width: 100%;
	position: relative;
}
/* //////////////////////////////// Header and Navigation: //////////////////////////////// */
.main_header_wrapper {
	background-color: #d5dbdb;
	box-shadow: 10px 3px 8px #bfc9ca;
	width: 100%;
	height: 100px;
	margin-bottom: 10px;
}
#header_initials_img {
	position: absolute;
	top: 20px;
	left: 120px;
	width:auto;
	height: 60px;
}
.nav_list {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	justify-content: space-around;
	top: -22px;
	left: 500px;
	padding: 40px 40px;
	width: 60%;
	background-image: url(_elementy_gradient_menu.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.nav_list li:hover {transform: scale(1.2);}
.nav_list li::marker {content: "";}
.nav_list-img {
	display: contents;
}
.list-image img {
	width: 50px;
	height: 50px;
	margin: -30px -40px;
}
.list-image img:hover {
  	transition: 0.5s;
  	transform: scale(1.2);
  	filter: drop-shadow(3px 3px 1px #952000);
}
.link-space {vertical-align: -7px;}
.stream {
	color: #ffff;
	transform: scale(2, 3);
	display: inline-block;
	position: relative;
	top: -12px;
	cursor: default;
}
/* //////////////////////////////// Main article: //////////////////////////////// */
.main_article_wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	flex-direction: row;
}
.about_me {height: 550px;}
.main_article {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	background-color: white;
	z-index: 1;
}
.circle_1 {
	width: 270px;
	height: 270px;
	position: absolute;
	left: -17px;
	top: 6px;
	z-index: 1;
}
.circle_1 img {
	max-width: 270px;
	max-height: 270px;
}
.circle_1 img:hover {
	transform: scale(0.7);
	filter: drop-shadow(5px 5px 5px #000);
}
.picture_1 {
	width: 400px;
	height: 430px;
	position: absolute;
	left: 120px;
	top: 50px;
}
.picture_1 img {
	max-width: 400px;
	max-height: 430px;
	border-radius: 2%;
	box-shadow: 3px 3px 3px #bfc9ca;
}
.main_article_article {
	background: rgba(255, 255, 255, 0.7);
	box-shadow: 3px 3px 3px #bfc9ca;
	border-radius: 5px 5px;
	position: relative;
	width: 635px;
	height: 200px;
	padding-left: 20px;
	left: 430px;
	top: 100px;
}
.subtitle_1 {
	text-align: right;
	margin: 30px 120px 0 10px;
}
.bitbucket_icon, .dev_icon {
	cursor: pointer;
	width: 55px;
	height: 55px;
	position: absolute;
	left: 545px;
	bottom: 0;
}
.bitbucket_icon img, .dev_icon img {
	max-width: 55px;
	max-height: 55px;
}
.dev_icon {left: 590px;}
.bitbucket_icon img:hover, .dev_icon img:hover {
	filter: drop-shadow(3px 3px 1px #3e2723);
	transform: scale(1.2);
}
.main_article_article_2 {
	position: absolute;
	width: 320px;
	height: 180px;
	left: 760px;
	top: 330px;
}
.main_article_article_2 h2 {text-align: right;}
.mail, .download {
	background-image: url(button_011.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 105px;
	filter: drop-shadow(2px 2px 1px #bfc9ca)
}
.mail:hover, .download:hover {transform: scale(1.2);}
.mail {
	padding: 15px 40px 15px;
	left: 0;
}
.download {
	padding: 15px 20px 15px;
	left: 160px;
}
.circle_2 {
	width: 340px;
	height: 340px;
	position: absolute;
	left: 1005px;
	top: 200px;
	z-index: -1;
	margin: 0;
}
.circle_2 img {
	max-width: 340px;
	max-height: 340px;
}
.circle_2 img:hover {
	transform: scale(0.4);
	filter: drop-shadow(2px 2px 1px #ff0000);
}
/* //////////////////////////////// About me and Skills articles: //////////////////////////////// */
.main_article_wrapper-skills {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 500px;
}
.wrapper_about_me {
	height: 100%;
	width: 50%;
}
.circle_3 {
	width: 280px;
	height: 280px;
	position: absolute;
	left: 410px;
	top: 380px;
	z-index: -1;
	margin: 0;
}
.circle_3 img {
	max-width: 280px;
	max-height: 280px;
}
.circle_3 img:hover {
	transform: scale(0.8);
	filter: drop-shadow(2px 2px 1px #ff0);
}
.wrapper_about_me {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: min-content;
	position: relative;
	left: 160px;
	text-align: justify;
	letter-spacing: 0px;
}
.wrapper_about_me_text p {
	height: min-content;
	letter-spacing: 0;
	word-spacing: 2px;
	width: 430px;
}
.wrapper_about_me h2 {margin-bottom: 0;}
.my_list li:before {
	content: "•";
	margin: 0 10px 0 0;
}
ul.my_list {
	color: #4b4b4b;
	padding-left: 0;
}
.wrapper_button {
	display: flex;
	flex-wrap: wrap;
	margin-left: 100px;
}
p.code_text {
	font-weight: bolder;
	display: inline;
	letter-spacing: 0;
}
.code_button {
	height: 70px;
	width: 140px;
	margin: -10px 0;
}
.code_button img {
  	max-height: 70px;
  	max-width: 140px;
}
.code_button img:hover {
  	transform: rotate(720deg) scale(2.5);
  	transition: 1.5s ease-in;
  	filter: invert(1);
}
.wrapper_skills {
	position: relative;
	height: 100%;
	width: 50%;
}
.wrapper_skills_text_and_table {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	box-shadow: 3px 3px 3px #bfc9ca;
	border-radius: 2%;
	background-color: transparent;
	position: relative;
	width: 470px;
	height: 425px;
	padding-left: 50px;
	left: 20px;
	z-index: 0;
}
.wrapper_skills_text_and_table h2 {margin-bottom: 0;}
.wrapper_skills_table {
	padding-left: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	flex-direction: column;
}
.wrapper_skills_table ul {padding-left: 0;}
[class*="graph-"] {
	position: relative;
  	display: block;
  	box-sizing: border-box;
  	top: 10px;
  	right: 25px;
  	width: 100%;
  	background-image: url(_elementy_gradient_menu.png), url(_elementy_gradient_menu_2.png); 
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    line-height: 3px;
}
[class*="graph-"] {animation: progress_bar 5s ease infinite;}
[class*="graph-"] {filter: drop-shadow(1px 1px 1px #f1feff);}
.graph-1,.graph-2,.graph-3,.graph-5 {background-size: cover;}
.graph-1 {
  	text-indent: 60%; 
  	background-size: 100% 160%, 100% 160%;
}
.graph-2, .graph-3, .graph-5 {
  	text-indent: 45%;
  	background-size: 90% 160%, 100% 160%;
  	right: 23px;
}
.graph-2 {text-indent: 53%;}
.graph-4,.graph-6 {
	background-size: cover;
	background-size: 60% 160%, 100% 160%;
	text-indent: -5%;
	padding: 20px 0;
	right: 21px;
}
.graph-4 {text-indent: -13%;}
.circle_4 {
	width: 400px;
	height: 400px;
	position: absolute;
	top: 100px;
	left: 274px;
	margin: 0;
}
.circle_4 img {
	max-width: 400px;
	max-height: 400px;
}
.circle_4 img:hover {
	transform: scale(0.9);
	filter: drop-shadow(2px 2px 1px #0000ff);
}
/* //////////////////////////////// Tools article: //////////////////////////////// */
.tools {
  	background-image: url(tło_gradient.png);
  	background-repeat: no-repeat;
  	height: 235px;
  	width: 10%;
  	background-size: cover;
  	flex-direction: column;
}
.circle_5 {
	width: 390px;
	height: 390px;
	position: absolute;
	top: -219px;
	left: -256px;
	z-index: 0;
	margin: 0;
}
.circle_5 img {
	max-width: 390px;
	max-height: 390px;
}
.circle_5 img:hover {
	transform: scale(0.7);
	filter: drop-shadow(2px 2px 1px #7b1fa2);
}
.main_article_tools h2 {
	margin-left: 160px;
	margin-bottom: 0;
}
.main_article_tools h3 {
	margin-left: 160px;
	margin-bottom: 20px;
}
.main_article_wrapper_tools {
	height: 100px;
	width: 55%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 160px;
}
[class*="tools_icon_"] {
  	box-shadow: 4px 3px 5px grey;
  	border-radius: 5%;
  	background-color: #ffffff;
  	height: 80px;
  	width: 80px;
  	transition: 0.5s;
  	position: relative;
  	background-repeat: no-repeat;
	background-position: bottom;
}
[class*="tools_icon_"] p {
    font-size: 10px;
    color: #4b4b4b;
    text-align: center;
    margin-top: 40px;
}
.tools_icon_4 p {margin-top: 35px;}
.tools_icon_1 {background-image: url(_react_icon_s.png);}
.tools_icon_2 {background-image: url(webpack_icon.png);}
.tools_icon_3 {background-image: url(express_icon.png);}
.tools_icon_4 {background-image: url(styled_components_icon.png);}
.tools_icon_5 {background-image: url(redux_icon_s.png);}
.tools_icon_6 {background-image: url(flexbox_icon_s.png);}
.tools_icon_7 {background-image: url(tool_program_ikonaa.png);}
.tools_icon_8 {background-image: url(tool_program_ikonaa.png);}

[class*="tools_icon_"]:hover {
	transform: scale(1.2);
}
.tools_icon_1:hover {border: 4px solid #7fe0fc;} 
.tools_icon_2:hover {border: 4px solid #1c78c0;}
.tools_icon_3:hover {border: 4px solid #8cc84b;}
.tools_icon_4:hover {border: 4px solid #fbba2e;}
.tools_icon_5:hover {border: 4px solid #8a64c5;} 
.tools_icon_6:hover {border: 4px solid #52a8d6;}
.tools_icon_7:hover {border: 4px solid #e2bda0;}
.tools_icon_8:hover {border: 4px solid #D81010;}
.circle_6 {
	width: 310px;
	height: 310px;
	position: absolute;
	top: 84px;
	left: 950px;
	z-index: 1;
	margin: 0;
}
.circle_6 img {
	max-width: 310px;
	max-height: 310px;
}
.circle_6 img:hover {
	transform: scale(0.7);
	filter: drop-shadow(2px 2px 1px #00ff00);
}
/* //////////////////////////////// My works and Portfolio article: //////////////////////////////// */
.portfolio {
	height: 700px;
	width: calc(100% - 20%);
	flex-direction: column;
}
.portfolio > h2, .portfolio > h3, .portfolio > p {margin: 0 0 0 160px;}
.portfolio-img_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 80%;
	margin-left: 145px;
}
[class*="portfolio_"]  {
  	box-shadow: 3px 3px 3px #bfc9ca;
  	border-radius: 2%;
  	background-color: #ffffff;
  	width: 310px;
  	height: 230px;
  	transition: 1s;
 	margin: 20px 15px;
  	display: flex;
  	flex-wrap: wrap;
  	flex-direction: row;
  	justify-content: flex-end;
  	align-items: flex-end;
}
[class*="portfolio_"]:hover {
  	background-color: rgba( 185, 135, 109, 0.7);
  	cursor: pointer;
}
[class*="portfolio_"] img {
  	padding: 5px;
  	height: 30px;
  	width: 30px;
}
.icons_1 {transition: 1s;}
.icons_1:hover {
  	cursor: pointer;
  	-webkit-filter: contrast(0);
    filter: contrast(0);
}
.circle_7 {
	width: 410px;
	height: 410px;
	position: absolute;
	top: 240px;
	left: 790px;
	z-index: -1;
	margin: 0;
}
.circle_7 img {
	max-width: 410px;
	max-height: 410px;
}
/* //////////////////////////////// Blog article: //////////////////////////////// */
.blog {
	display: flex;
	flex-direction: column;
	margin: 0 auto 55px;
}
.blog_picture {
	width: max-content;
	margin: 20px 0 0 160px;
}
.blog > h2, .blog > h3 {margin: 0 0 0 160px;}
.blog > .blog_picture > img {
	width: 310px;
	height: 150px;
	max-width: 310px;
	max-height: 150px;
	border-radius: 2%;
	box-shadow: 3px 3px 3px #bfc9ca;
}
.wrapper_articles, .wrapper_articles_2 {
	position: absolute;
	left: 500px;
}
.wrapper_articles p, .wrapper_articles_2 p {
	margin: 0;
	}
.wrapper_articles {top: 55px;}
.wrapper_articles_2 {top: 230px;}
.wrapper_articles a, .wrapper_articles a:link, .wrapper_articles a:active {
	color: #da9b85;
	display: table;
	text-align: center;
	margin: 0 auto;
}
.wrapper_articles_2 a, .wrapper_articles_2 a:link, .wrapper_articles_2 a:active {
	color: #da9b85;
	display: table;
	text-align: center;
	margin: 0 auto;
}
.wrapper_articles a:hover, .wrapper_articles_2 a:hover {
	transform: scale(1.1);
	filter: drop-shadow(1px 1px 1px rgba( 185, 135, 109, 0.7));
}
.wrapper_articles a:after, .wrapper_articles_2 a:after {
	content: ">";
	font-size: 25px;
	padding-left: 5px;
}
.wrapper_articles span, .wrapper_articles_2 span {
	color: #da9b85;
	font-size: 15px;
	float: right;
	font-weight: normal;
}
.circle_8 {
	width: 310px;
	height: 310px;
	position: absolute;
	z-index: -1;
	margin: 0;
	left: -67px;
	top: 151px;
}
.circle_8 img {
	max-width: 310px;
	max-height: 310px;
}
.circle_8 img:hover {
	transform: scale(0.9);
	filter: drop-shadow(2px 2px 1px #fb8c00);
}
/* //////////////////////////////// Footer: //////////////////////////////// */
.contact_me {
	background-image: url(tło_gradient.png);
	background-repeat: no-repeat;
	height: 550px;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.circle_9 {
	width: 260px;
	height: 260px;
	position: absolute;
	z-index: 0;
	left: 705px;
	top: -55px;
}
.circle_9 img {
	max-width: 260px;
	max-height: 260px;
}
.circle_9 img:hover {
	transform: scale(0.9);
	filter: drop-shadow(2px 2px 1px #b0bec5);
}
.my_contact {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	position: absolute;
	left: 657px;
	top: 120px;
	background-color: rgba(255,255,255,0.8);
	border-radius: 3px 3px;
	box-shadow: 2px 3px 2px #bfc9ca;
	width: 230px;
	height: 50px;
	background-image: url(kontakt_ikona2.png);
	background-repeat: no-repeat;
	background-size: contain;
	justify-content: right;
	padding: 15px;
}
.my_contact p {margin-top: 7px;}
.wrapper-1 {
	height: 100%;
	width: 40%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	position: relative;
	left: 140px;
}
.wrapper-1 p {
	margin-top: 0;
	letter-spacing: 0;
}
.wrapper-2 {
	height: 100%;
	width: 31%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
}
.wrapper-2 img {
	width: 250px;
	height: 270px;
	max-width: 250px;
	max-height: 270px;
	border-radius: 2%;
	margin-top: 27px;
}
.wrapper-2 p {text-align: right;}
.circle_10 {
    width: 290px;
    height: 290px;
    position: absolute;
    z-index: 0;
    left: 400px;
    top: 257px;
    overflow: hidden;
}
.circle_10 img {
	max-width: 290px;
	max-height: 290px;
	margin: 0 0 -450px 0;
}
.circle_10 img:hover {
	transform: scale(0.9);
	filter: drop-shadow(2px 2px 1px #E238EC);
}
}


/* //////////////////////////////// For tablets: //////////////////////////////// */

@media only screen and (min-width: 768px) and (max-width: 1099px) {

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li,footer, header  {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body {
	height: 100%;
	margin: 0 auto;
	background-color: #ffffff;
	overflow-x: hidden;
}
p, h1, h2, h3, span, a, li, button, input, textarea {
  	font-family: 'Raleway', sans-serif;
  	letter-spacing: 1px;
}
h1, h2, h3 {
	font-size: 2.9vw;
	margin: 2% 5% 0;
	text-align: left;
}
h3 {
	color: #da9b85;
	margin: 0 5% 0;
	}
p {
    color: #4b4b4b;
    font-size: 1.8vw;
    margin: 2% 5% 0;
    text-align:left;
}
span {color: #ffff}
a {font-size: 1.8vw;}
a, button, img {transition: 1s;}
a:link, a:visited, a:active { 
	color:#ffff;
	background-color: transparent;
  	text-decoration: none;
}
a:hover { color: #952000;}
input, textarea {
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	border-radius: 4px 4px;
	box-shadow: 2px 3px 2px #bfc9ca;
	resize: none;
}
input {
	padding: 3%;
	font-size: 2vw;
}
input:focus, textarea:focus { 
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
textarea[type="text"] {font-size:2vw;}
textarea::placeholder {font-size: 2vw;}
textarea {padding: 3% ;}
button {
	background-image: url(kontakt_ikona.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 1% 7%;
	color: #ffffff;
	cursor: pointer;
	border: none;
	opacity: 0.6;
	filter: drop-shadow(2px 2px 1px #bfc9ca);
	margin: 2% auto;
	display: block;
	font-size: 3vw;
}
button:hover {
	color: #952000;
	opacity: 1;
}
form {
	width: 70%;
	display: block;
	margin: 0 auto;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.container {
	display: flex;
	flex-direction: column;
}
img {
	width: 100%;
	height: 100%;
}
[class*="circle_"] {display: none;}
[class*="circle_"] img {display: none;}
/* //////////////////////////////// Header and Navigation: //////////////////////////////// */
.main_header_wrapper {
	background-color: #d5dbdb;
	width: 100%;
	height: max-content;
}
.col-6 {
	width: 13%;
	box-sizing: border-box;
	padding: 3% 0;
	margin: 0 auto;
}
.main_header_wrapper > div > div > img {width: 100%;}
.main_header_wrapper_wrapper {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}
.nav_list {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-image: url(_elementy_gradient_menu.png);
	background-size: 106% 130%;
	background-repeat: no-repeat;
	align-items: center;
	padding: 0 4%;
}
.nav_list ul {list-style-type: none;}
.nav_list li:hover {transform: scale(1.2);}
.nav_list li::marker {content: "";}
.nav_list-img {
	display: flex;
	justify-content: center;
	margin: 2% 0 0;
}
.nav_list img {width: 100%;}
.list-image img:hover {
  	transition: 0.5s;
  	transform: scale(1.2);
  	filter: drop-shadow(3px 3px 1px #952000);
}
.stream {
	color: #ffff;
	transform: scale(1, 2.2);
	cursor: default;
	margin: 0;
}
.col-8:first-of-type {width: 85%;}
/* //////////////////////////////// About me and Skills articles: //////////////////////////////// */
.main_article {
	display: flex;
	background: rgba(255, 255, 255, 0.7);
	box-shadow: 3px 3px 3px #bfc9ca;
	border-radius: 5px 5px;
}
.main_article p, .main_article h1 {text-align: center;}
.main_article br {display: none;}
.col-11 {
    width: 49.66%;
    margin: 1%;
}
.picture_1.col-11 img {
    height: auto;
    border-radius: 2%;
    box-shadow: 2px 3px 2px #bfc9ca;
}
.main_article_icons_wrapper {
	display: flex;
    flex-direction: row;
    justify-content: center;
}
.subtitle_1 {margin: 10%;}
.bitbucket_icon {
	display: flex;
	flex-direction: row;
	justify-content: normal;
}
.bitbucket_icon img, .dev_icon img {
	width: 75%;
	height: 90%;
}
.main_article_wrapper-skills {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.wrapper_about_me {width: 50%;}
.wrapper_about_me_text {margin: 0 0 3% 0;}
ul.my_list {
	color: #4b4b4b;
	padding-left: 9%;
	font-size: 2vw;
}
.wrapper_button {
	display: inline;
	position: relative;
	top: 10%;
}
.code_button {
	width: 40%;
	float: inline-end;
}
.wrapper_skills {width: 55%;}
.wrapper_skills_text_and_table {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	box-shadow: 3px 3px 3px #bfc9ca;
	border-radius: 2%;
	background-color: transparent;
	position: relative;
	width: 100%;
	height: 95%;
	z-index: 0;
}
[class*="graph-"] {
	position: relative;
  	display: block;
  	box-sizing: border-box;
  	top: 10px;
  	width: 100%;
  	background-image: url(_elementy_gradient_menu.png), url(_elementy_gradient_menu_2.png); 
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    padding: 5% 0;
    text-align: center;
    font-weight: bold;
    line-height: 3px;
}
.graph-1 {
  	text-indent: 55%; 
  	background-size: 100% 160%, 100% 160%;
  	-webkit-filter: drop-shadow(1px 1px 1px #f1feff);
    filter: drop-shadow(1px 1px 1px #f1feff);
}
.graph-2, .graph-3, .graph-5 {
  	text-indent: 35%;
  	background-size: 90% 160%, 100% 160%;
  	-webkit-filter: drop-shadow(1px 1px 1px #f1feff);
    filter: drop-shadow(1px 1px 1px #f1feff);
}
.graph-2 {text-indent: 44%;}
.graph-4,.graph-6 {
	background-size: cover;
	background-size: 60% 160%, 100% 160%;
	text-indent: -12%;
	padding: 5% 0;
  	-webkit-filter: drop-shadow(1px 1px 1px #f1feff);
    filter: drop-shadow(1px 1px 1px #f1feff);
    left: 1%;
}
.graph-4 {text-indent: -25%;}
/* //////////////////////////////// Tools article: //////////////////////////////// */
.main_article_wrapper_tools {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto 4%;
	background-color: #f2dccb;
	border-radius: 2%;
}
.main_article_wrapper {
	display: flex;
	flex-direction: column;
	margin: 0 2% 0;
}
.portfolio-img_wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: max-content;
	margin: 5% auto 0;
}
.tools_icon_1,.tools_icon_2,.tools_icon_3,
.tools_icon_4,.tools_icon_5,.tools_icon_6,.tools_icon_7,.tools_icon_8 {
  	box-shadow: 4px 3px 5px grey;
  	border-radius: 5%;
  	background-color: #ffffff;
  	height: 80px;
  	width: 80px;
  	transition: 0.5s;
  	position: relative;
  	margin: 2%;
}
.tools_icon_1 p, .tools_icon_2 p, .tools_icon_3 p, 
.tools_icon_4 p, .tools_icon_5 p, .tools_icon_6 p, .tools_icon_7 p, .tools_icon_8 p {
    font-size: 10px;
    color: #4b4b4b;
    text-align: center;
    margin-top: 40px;
}
.tools_icon_4 p {margin-top: 35px;}
.tools_icon_1, .tools_icon_2, .tools_icon_3, .tools_icon_4,
.tools_icon_5, .tools_icon_6, .tools_icon_7, .tools_icon_8 {
	background-repeat: no-repeat;
	background-position: bottom;
}
.tools_icon_1 {background-image: url(_react_icon_s.png);}
.tools_icon_2 {background-image: url(webpack_icon.png);}
.tools_icon_3 {background-image: url(express_icon.png);}
.tools_icon_4 {background-image: url(styled_components_icon.png);}
.tools_icon_5 {background-image: url(redux_icon_s.png);}
.tools_icon_6 {background-image: url(flexbox_icon_s.png);}
.tools_icon_7 {background-image: url(tool_program_ikonaa.png);}
.tools_icon_8 {background-image: url(tool_program_ikonaa.png);}

[class*="tools_icon_"]:hover {transform: scale(1.2);}

.tools_icon_1:hover {border: 4px solid #7fe0fc;} 
.tools_icon_2:hover {border: 4px solid #1c78c0;}
.tools_icon_3:hover {border: 4px solid #8cc84b;}
.tools_icon_4:hover {border: 4px solid #fbba2e;}
.tools_icon_5:hover {border: 4px solid #8a64c5;} 
.tools_icon_6:hover {border: 4px solid #52a8d6;}
.tools_icon_7:hover {border: 4px solid #e2bda0;}
.tools_icon_8:hover {border: 4px solid #D81010;}
/* //////////////////////////////// My works and Portfolio article: //////////////////////////////// */
.portfolio > h2, .portfolio > h3 {margin: 0 0 0 3%;}
.portfolio > p {margin: 0 0 0 7%;}
[class*="portfolio_"]  {
	box-shadow: 3px 3px 3px #bfc9ca;
	border-radius: 2%;
	background-color: #ffffff;
	width: 100%;
	transition: 1s;
	margin: 0 6% 4%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
}
[class*="portfolio_"] img {
  	padding: 5px;
  	height: 30px;
  	width: 30px;
}
[class*="portfolio_"]:hover {
  	background-color: rgba( 185, 135, 109, 0.7);
  	cursor: pointer;
}
.icons_1 {transition: 1s;}
.icons_1:hover {
  	cursor: pointer;
  	-webkit-filter: contrast(0);
    filter: contrast(0);
}
/* //////////////////////////////// Blog article: //////////////////////////////// */
.blog {margin: 0 auto 4%;}
.blog > h2:first-child {margin: 2% 0 0 -4%;}
.blog > h3:nth-child(2) {margin: 0 0 0 -4%;}
.blog > .blog_picture > img {
	border-radius: 2%;
	box-shadow: 3px 3px 3px #bfc9ca;
}
.blog_picture {margin: 2% 8% 0;}
.wrapper-1 {margin: 0 inherit;}
.wrapper-1 h2 {margin: 0 0 0 3%;}
.wrapper-1 p {margin: 0 0 2% 3%;}
.wrapper_articles a, .wrapper_articles a:link, .wrapper_articles a:active,
.wrapper_articles_2 a, .wrapper_articles_2 a:link, .wrapper_articles_2 a:active
 {
	color: #da9b85;
	display: table;
	text-align: center;
	margin: 0 auto;
	font-size: 3vw;
}
.wrapper_articles span, .wrapper_articles_2 span {
	color: #da9b85;
	font-size: 2vw;
	float: right;
	font-weight: normal;
}
.wrapper_articles a:hover, .wrapper_articles_2 a:hover {
	transform: scale(1.1);
	filter: drop-shadow(1px 1px 1px rgba( 185, 135, 109, 0.7));
}
.wrapper_articles a:after, .wrapper_articles_2 a:after {
	content: ">";
	font-size: 3vw;
}
/* //////////////////////////////// Footer: //////////////////////////////// */
.main_article_wrapper.col-11 {width: 95%;}
.contact_me {
	margin: 0 auto;
	background-color: #f2dccb;
	border-radius: 1%;
}
.wrapper-2 {margin: 2% auto;}
.wrapper-2 > div {margin: 0 auto;}
.wrapper-2 > div > img {
	border-radius: 2%;
	width: 50%;
	margin: 0 auto;
	display: block;
}
.wrapper-2 p {text-align: center;}
.my_contact {
	background-color: rgba(255,255,255,0.8);
	border-radius: 3px 3px;
	box-shadow: 2px 3px 2px #bfc9ca;
	background-image: url(kontakt_ikona2.png);
	background-repeat: no-repeat;
	background-size: contain;
	justify-content: end;
	display: block;
	margin: 2% auto;
	width: 30%;
	display: flex;
	padding: 2%;
}
}

/* ///////////////////////// For mobile phones: /////////////////////////////// */

@media only screen and (max-width: 767px) {

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li,footer, header  {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body { 
	height: 100%;
	margin: 0 auto;
	background-color: #ffffff;
	overflow-x: hidden;
}
p, h1, h2, h3, span, a, li, button, input, textarea {
  	font-family: 'Raleway', sans-serif;
  	letter-spacing: 1px;
}
h1, h2, h3 {
	font-size: 7vw;
	margin: 0 auto;
	text-align: center;
}
h3 {color: #da9b85;}
p {
    color: #4b4b4b;
    font-size: 4vw;
    margin: 2% auto;
    text-align: center;
}
span {color: #ffff}
a {font-size: 7vw;}
a, button, img {transition: 1s;}
a:link, a:visited, a:active { 
	color:#ffff;
	background-color: transparent;
  	text-decoration: none;
}
a:hover { color: #952000;}
input, textarea {
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	border-radius: 4px 4px;
	box-shadow: 2px 3px 2px #bfc9ca;
	resize: none;
}
input {
	padding: 3%;
	font-size: 4vw;
}
input:focus, textarea:focus { 
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
textarea[type="text"] {font-size:4vw;}
textarea::placeholder {font-size: 4vw;}
textarea {padding: 3% ;}
button {
	background-image: url(kontakt_ikona.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5% 18%;
	color: #ffffff;
	cursor: pointer;
	border: none;
	opacity: 0.6;
	filter: drop-shadow(2px 2px 1px #bfc9ca);
	margin: 2% auto;
	display: block;
	font-size: 4vw;
}
button:hover {
	color: #952000;
	opacity: 1;
}
 img {
	width: 100%;
	height: 100%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.container {
	display: flex;
	flex-direction: column;
}
.container > div {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

[class*="circle_"] {
	display: none;
}
[class*="circle_"] img {
	display: none;
}
img {
	width: 100%;
	height: auto;
}
/* //////////////////////////////// Header and Navigation: //////////////////////////////// */
.main_header_wrapper {
	background-color: #d5dbdb;
	width: 100%;
	height: max-content;
}
.main_header_wrapper > div > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
}
.main_header_wrapper > div > img {
	width: calc(100% - 50%);
}
.nav_list {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
	background-color: #ecc5a7;
	border-radius: 2%;
	border-radius: 2%;
	margin: 4% auto;
}
.nav_list ul {list-style-type: none;}
.nav_list li:hover {transform: scale(1.2);}
.nav_list li::marker {content: "";}
.nav_list-img {
	display: flex;
	justify-content: center;
}
.list-image img:hover {
  	transition: 0.5s;
  	transform: scale(1.2);
  	filter: drop-shadow(3px 3px 1px #952000);
}
.nav_list img {
	width: 100%;
}
.stream {
	color: #ffff;
	transform: scale(2, 3);
	cursor: default;
	transform: rotate(90deg) scale(2,45);
	margin: 0 auto;
}
.picture_1 {
	margin: 1% auto;

}
.picture_1 img {
	border-radius: 2%;
	box-shadow: 3px 3px 3px #bfc9ca;
}
/* //////////////////////////////// Main article: //////////////////////////////// */
.main_article {
	margin: 2% 0;
}
.main_article_article {
	display: flex;
	flex-direction: column;
	align-content: center;
	background: rgba(255, 255, 255, 0.7);
	box-shadow: 3px 3px 3px #bfc9ca;
	border-radius: 5px 5px;
	margin: 0 auto;
}
.main_article_icons_wrapper {
	display: flex;
	justify-content: center;
}
.main_article_article > .bitbucket_icon, .dev_icon {
	display: flex;
	flex-direction: row;
}
.main_article_article_2 a {
	justify-content: center;
	display: flex;
	margin: 0 auto 4% auto;
	padding: 2%;
}
.bitbucket_icon img:hover, .dev_icon img:hover {
	filter: drop-shadow(3px 3px 1px #3e2723);
	transform: scale(1.2);
}
.main_article_article_2 {
	margin: 4% auto 6%;
}
.main_article_wrapper-skills {	margin: 4% auto;}
.main_article_wrapper-skills p {
	text-align: justify;
}
.main_article_wrapper-skills h3:last-of-type {
	margin: 5% auto;
}
.mail, .download {
	background-image: url(button_011.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	filter: drop-shadow(2px 2px 1px #bfc9ca)
}
.mail:hover, .download:hover {transform: scale(1.2);}

ul.my_list {
	color: #4b4b4b;
	padding-left: 3%;
	font-size: 4vw;
}
/* //////////////////////////////// About me and Skills articles: //////////////////////////////// */
.wrapper_about_me {margin: 2% auto;}
.wrapper_button p {
	text-align: center;
	margin: 8% auto 0 auto;
}
.wrapper_button img {
	width: calc(100% - 20%);
	margin: 1% 10%;
}
[class*="graph-"] {
	position: relative;
  	display: block;
  	box-sizing: border-box;
  	top: 10px;
  	width: 100%;
  	background-image: url(_elementy_gradient_menu.png), url(_elementy_gradient_menu_2.png); 
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    padding: 5% 0;
    text-align: center;
    font-weight: bold;
    line-height: 3px;
}
.graph-1 {
  	text-indent: 55%; 
  	background-size: 100% 160%, 100% 160%;
  	-webkit-filter: drop-shadow(1px 1px 1px #f1feff);
    filter: drop-shadow(1px 1px 1px #f1feff);
}
.graph-2, .graph-3, .graph-5 {
  	text-indent: 35%;
  	background-size: 90% 160%, 100% 160%;
  	-webkit-filter: drop-shadow(1px 1px 1px #f1feff);
    filter: drop-shadow(1px 1px 1px #f1feff);
}
.graph-2 {text-indent: 44%;}
.graph-4,.graph-6 {
	background-size: cover;
	background-size: 60% 160%, 100% 160%;
	text-indent: -12%;
	padding: 5% 0;
  	-webkit-filter: drop-shadow(1px 1px 1px #f1feff);
    filter: drop-shadow(1px 1px 1px #f1feff);
}
.graph-4 {text-indent: -25%;}
/* //////////////////////////////// Tools article: //////////////////////////////// */
.main_article_wrapper_tools {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto 4%;
	background-color: #f2dccb;
	border-radius: 2%;
}

.tools_icon_1,.tools_icon_2,.tools_icon_3,
.tools_icon_4,.tools_icon_5,.tools_icon_6,.tools_icon_7,.tools_icon_8 {
  	box-shadow: 4px 3px 5px grey;
  	border-radius: 5%;
  	background-color: #ffffff;
  	height: 80px;
  	width: 80px;
  	transition: 0.5s;
  	position: relative;
  	margin: 2%;
}
.tools_icon_1 p, .tools_icon_2 p, .tools_icon_3 p, 
.tools_icon_4 p, .tools_icon_5 p, .tools_icon_6 p, .tools_icon_7 p, .tools_icon_8 p {
    font-size: 10px;
    color: #4b4b4b;
    text-align: center;
    margin-top: 40px;
}
.tools_icon_4 p {margin-top: 35px;}
.tools_icon_1, .tools_icon_2, .tools_icon_3, .tools_icon_4,
.tools_icon_5, .tools_icon_6, .tools_icon_7, .tools_icon_8 {
	background-repeat: no-repeat;
	background-position: bottom;
}
.tools_icon_1 {background-image: url(_react_icon_s.png);}
.tools_icon_2 {background-image: url(webpack_icon.png);}
.tools_icon_3 {background-image: url(express_icon.png);}
.tools_icon_4 {background-image: url(styled_components_icon.png);}
.tools_icon_5 {background-image: url(redux_icon_s.png);}
.tools_icon_6 {background-image: url(flexbox_icon_s.png);}
.tools_icon_7 {background-image: url(tool_program_ikonaa.png);}
.tools_icon_8 {background-image: url(tool_program_ikonaa.png);}

[class*="tools_icon_"]:hover {
	transform: scale(1.2);
}
.tools_icon_1:hover {border: 4px solid #7fe0fc;} 
.tools_icon_2:hover {border: 4px solid #1c78c0;}
.tools_icon_3:hover {border: 4px solid #8cc84b;}
.tools_icon_4:hover {border: 4px solid #fbba2e;}
.tools_icon_5:hover {border: 4px solid #8a64c5;} 
.tools_icon_6:hover {border: 4px solid #52a8d6;}
.tools_icon_7:hover {border: 4px solid #e2bda0;}
.tools_icon_8:hover {border: 4px solid #D81010;}
/* //////////////////////////////// My works and Portfolio article: //////////////////////////////// */
.portfolio {margin: 0 auto 15%;}
[class*="portfolio_"]  {
  	box-shadow: 3px 3px 3px #bfc9ca;
  	border-radius: 2%;
  	background-color: #ffffff;
  	width: 100%;
  	transition: 1s;
 	margin: 0 auto 4%;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: flex-end;
  	align-items: flex-end;
}
[class*="portfolio_"] img {
  	padding: 5px;
  	height: 30px;
  	width: 30px;
}
[class*="portfolio_"]:hover {
  	background-color: rgba( 185, 135, 109, 0.7);
  	cursor: pointer;
}
.icons_1 {transition: 1s;}
.icons_1:hover {
  	cursor: pointer;
  	-webkit-filter: contrast(0);
    filter: contrast(0);
}
/* //////////////////////////////// Blog article: //////////////////////////////// */
.blog {margin: 0 auto 4%;}
.blog > .blog_picture > img {
	border-radius: 2%;
	box-shadow: 3px 3px 3px #bfc9ca;
}
.wrapper_articles {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 2% auto 2%;
}
.wrapper_articles p {letter-spacing: 0;}
.wrapper_articles a, .wrapper_articles a:link, .wrapper_articles a:active,
.wrapper_articles_2 a, .wrapper_articles_2 a:link, .wrapper_articles_2 a:active 
 {
	color: #da9b85;
	display: table;
	text-align: center;
	margin: 0 auto;
	font-size: 5vw;
}
.wrapper_articles a:hover, .wrapper_articles_2 a:hover {
	transform: scale(1.1);
	filter: drop-shadow(1px 1px 1px rgba( 185, 135, 109, 0.7));
}
.wrapper_articles a:after,.wrapper_articles_2 a:after {
	content: ">";
	font-size: 5vw;
}
.wrapper_articles h2 {margin: 0;}
.wrapper_articles span, .wrapper_articles_2 span {
	color: #da9b85;
	font-size: 4vw;
	float: right;
	font-weight: normal;
}
/* //////////////////////////////// Footer: //////////////////////////////// */
.contact_me {
	margin: 0 auto;
	background-color: #f2dccb;
	border-radius: 1%;
}
.wrapper-2 {margin: 4% auto;}
.wrapper-2 > div {margin: 0 auto;}
.wrapper-2 > div > img {
	border-radius: 2%;
	width: 100%;
	margin: 0 auto;
}
.my_contact {
	background-color: rgba(255,255,255,0.8);
	border-radius: 3px 3px;
	box-shadow: 2px 3px 2px #bfc9ca;
	background-image: url(kontakt_ikona2.png);
	background-repeat: no-repeat;
	background-size: contain;
	justify-content: right;
	display: block;
	margin: 2% auto;
}
}